:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #f5f4fa;
    --hero-color: #ffffff;
    --primary-bg-color: #e5e5e5;
    --background-color-two: #2f303a;
    --stroke-color: #ececec;
    --grey-color: #AFB1B8;
  }