.header_logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-seri;
    font-weight: bold;
    font-size: 26px;
   
    letter-spacing: 0.03em;
    text-decoration: none;
    display: block;
    
    padding-top: 16px;
    padding-bottom: 16px;


    @media screen and (min-width: 768px) {  
      padding-top: 26px;
      padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px){
      padding-top: 24px;
      padding-bottom: 25px;
    }
  }

    .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    }
  
  .burger-btn {
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    border: none;

    @media screen and (min-width: 768px) {  
      display: none;
    }
  }

  .burger-icon-icon {
    width: 24px;
    height: 16px;


  }

  .mobile-menu {
   position: fixed;
   z-index: 100;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   padding: 48px 40px;
   background-color: wheat;
   opacity: o;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 250ms linear, visibility 250ms linear;
   
}

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .close-btn {
    position: absolute;
    top: 11px;
    right: 11px;
    width: 18.67px;
    height: 18.67px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    border: none;
  }

  .close-btn-icon {
    width: 18.67px;
    height: 18.67px;
    
  }
  
  .site_nav {
    @media screen and (max-width: 767px) {  
      display: none;
    }
  }
    

  .contacts_link {
    @media screen and (max-width: 767px) {  
      display: none;
    }
  }
  
//   .web {
//     color: var(--accent-color);
//     font-family: Raleway;
//     font-weight: bold;
//     font-size: 26px;
//     line-height: 1.19;
//     letter-spacing: 0.03em;
//   }
  
//   .list {
//     list-style: none;
//     padding: 0;
  
//     display: flex;
//     flex-wrap: wrap;
    
//   }
  
  
  
//   .header_main__nav {
//     display: flex;
//     align-items: center;
//   }
  


    
//   }
//   .page-header {
//     border: 1px solid var(--stroke-color);
//   }
  
//   .header {
//     border: 1px solid var(--stroke-color);
//   }
  
//   .site_nav {
//     display: flex;
//     align-items: center;
//     margin-right: auto;
//   }
  
//   .site_nav .site_nav__item {
//     margin-right: 50px;
//     display: block;
  
  
//   .site_nav &:last-child {
//     margin-right: 0;
//   }


//   .site_nav &:not(:last-child) {
//     margin-right: 50px;
//   }
// }
  
//   .contacts {
//     display: flex;
    
  
//   & .contacts_item:not(:last-child) {
//     margin-right: 50px;
//   }
// }
  
//   .contacts .contacts_item {
//     display: block;
    
//   }
  
//   .site_nav__item-link {
//     display: flex;
//     color: var(--title-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     position: relative;
    
//     .site_nav &:hover,
//     .site_nav &:focus,
//     .site_nav &.current {
//       color: var(--title-text-color);
//       color: var(--accent-color);
//     }
//   }
  
//   .nav_link::after {
//     content: "";
//     width: 100%;
//     position: absolute;
//     height: 4px;
//     border-radius: 2px;
//     bottom: -1px ;
//     display: block;
//     background-color: var(--accent-color);
//   }

  
  
//   .contacts_link {
//     display: flex;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.14;
//     color: var(--primary-text-color);
//     padding-top: 32px;
//     padding-bottom: 32px;
//     text-decoration: none;
//     align-items: center;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  
  
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
  
//   .contacts_icon {
//     fill: currentColor;
//     margin-bottom: 0px;
//     margin-right: 10px;
//     padding-top: 0;
    //  }

    
//   