
.footer-form {
    margin-left: auto;
  }
  
  .footer-form-head {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color);
  }
  
  .footer-form-box{
    display: flex;
    align-items: center;
  }
  
  .footer-form-label{
    margin-right: 12px;
  }
  
  .footer-form-input {
    outline: none;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--hero-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  
  
  
  &:hover,
  &:focus {
    color: #188CE8;
  }
}
  
  
  .footer-form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  
  .footer-form-btn {
    display: flex;
    align-items: center;
    padding: 10px 29px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-color);
    
  }
  
  .footer-form-icon {
    margin-left: 10px;
  }